# IDE
.idea/
.vscode/

desktop.ini
Desktop.ini

# Config

core/config.php
# Composer
/vendor/

# Environment
.env
.env.*

# Logs
*.log

# OS
Thumbs.db
.DS_Store

# Uploads
/public/uploads/*
!/public/uploads/.gitkeep

# Cache
/cache/