/*==========================================
SweetAlert
==========================================*/

.swal2{

    border-radius:18px;

}

.swal2-popup{
    width: 380px;
    /*height: 400px;*/
}

.swal2-title{

    color:#17335C;

    font-weight:700;
    padding: 0px;

}

.swal2-text{

    color:#6B7280;

    line-height:2;

}

.swal2-icon{

    transform: scale(.65);
    margin-top: 10px;

}